SHABARI PRAKASH SV 21C085

Import Pandas and Read/Import Multiple FIle Format

In [35]:
import pandas as pd

READ CSV FILE

In [36]:
df=pd.read_csv('samplecsv.csv')

In [37]:
print(df.head)

<bound method NDFrame.head of     Age   Gender AcademicPerformance TakingNoteInClass DepressionStatus  \
0     23    Male             Average                No        Sometimes
1     23    Male           Excellent         Sometimes              Yes
2     24    Male             Average                No        Sometimes
3     20  Female                Good               Yes        Sometimes
4     24  Female             Average               Yes              Yes
..   ...     ...                 ...               ...              ...
94    21    Male                Good               Yes        Sometimes
95    21  Female                Good               Yes              Yes
96    25    Male                Good               Yes        Sometimes
97    21    Male                Good               Yes               No
98    22  Female             Average               Yes               No

   FaceChallangesToCompleteAcademicTask LikePresentation  SleepPerDayHours  \
0                                   Yes              Yes                12
1                                    No              Yes                 8
2                             Sometimes               No                 8
3                                   Yes               No                 5
4                                   Yes              Yes                 5
..                                  ...              ...               ...
94                                  Yes              Yes                 6
95                                   No              Yes                 6
96                                   No              Yes                 4
97                            Sometimes               No                10
98                                   No              Yes                 7

    NumberOfFriend LikeNewThings
0              NaN           Yes
1             80.0           Yes
2             10.0           Yes
3             15.0           Yes
4              2.0           Yes
..             ...           ...
94             4.0           Yes
95             6.0           Yes
96             9.0            No
97            23.0           Yes
98             3.0           Yes

[99 rows x 10 columns]>

READ JSON FILE

In [38]:
jsondataset=pd.read_json('./samplejson.json')

In [39]:
print(jsondataset.head)

<bound method NDFrame.head of     Age  Gender AcademicPerformance TakingNoteInClass DepressionStatus  \
0    23    Male             Average                No        Sometimes
1    23    Male           Excellent         Sometimes              Yes
2    24    Male             Average                No        Sometimes
3    20  Female                Good               Yes        Sometimes
4    24  Female             Average               Yes              Yes
..  ...     ...                 ...               ...              ...
94   21    Male                Good               Yes        Sometimes
95   21  Female                Good               Yes              Yes
96   25    Male                Good               Yes        Sometimes
97   21    Male                Good               Yes               No
98   22  Female             Average               Yes               No

   FaceChallangesToCompleteAcademicTask LikePresentation  SleepPerDayHours  \
0                                   Yes              Yes                12
1                                    No              Yes                 8
2                             Sometimes               No                 8
3                                   Yes               No                 5
4                                   Yes              Yes                 5
..                                  ...              ...               ...
94                                  Yes              Yes                 6
95                                   No              Yes                 6
96                                   No              Yes                 4
97                            Sometimes               No                10
98                                   No              Yes                 7

   NumberOfFriend LikeNewThings
0                           Yes
1              80           Yes
2              10           Yes
3              15           Yes
4               2           Yes
..            ...           ...
94              4           Yes
95              6           Yes
96              9            No
97             23           Yes
98              3           Yes

[99 rows x 10 columns]>

READ EXCEL FILE

In [40]:
xsldata=pd.read_excel('./sampleexcel.xlsx')

In [41]:
print(xsldata.head)

<bound method NDFrame.head of     Age   Gender AcademicPerformance TakingNoteInClass DepressionStatus  \
0     23    Male             Average                No        Sometimes
1     23    Male           Excellent         Sometimes              Yes
2     24    Male             Average                No        Sometimes
3     20  Female                Good               Yes        Sometimes
4     24  Female             Average               Yes              Yes
..   ...     ...                 ...               ...              ...
94    21    Male                Good               Yes        Sometimes
95    21  Female                Good               Yes              Yes
96    25    Male                Good               Yes        Sometimes
97    21    Male                Good               Yes               No
98    22  Female             Average               Yes               No

   FaceChallangesToCompleteAcademicTask LikePresentation  SleepPerDayHours  \
0                                   Yes              Yes                12
1                                    No              Yes                 8
2                             Sometimes               No                 8
3                                   Yes               No                 5
4                                   Yes              Yes                 5
..                                  ...              ...               ...
94                                  Yes              Yes                 6
95                                   No              Yes                 6
96                                   No              Yes                 4
97                            Sometimes               No                10
98                                   No              Yes                 7

    NumberOfFriend LikeNewThings
0              NaN           Yes
1             80.0           Yes
2             10.0           Yes
3             15.0           Yes
4              2.0           Yes
..             ...           ...
94             4.0           Yes
95             6.0           Yes
96             9.0            No
97            23.0           Yes
98             3.0           Yes

[99 rows x 10 columns]>

CONVERT TO PANDAS DATAFRAME

In [42]:
df=pd.DataFrame(df)
df

,Age,Gender,AcademicPerformance,TakingNoteInClass,DepressionStatus,FaceChallangesToCompleteAcademicTask,LikePresentation,SleepPerDayHours,NumberOfFriend,LikeNewThings
0,23,Male,Average,No,Sometimes,Yes,Yes,12,NaN,Yes
1,23,Male,Excellent,Sometimes,Yes,No,Yes,8,80.0,Yes
2,24,Male,Average,No,Sometimes,Sometimes,No,8,10.0,Yes
3,20,Female,Good,Yes,Sometimes,Yes,No,5,15.0,Yes
4,24,Female,Average,Yes,Yes,Yes,Yes,5,2.0,Yes
...,...,...,...,...,...,...,...,...,...,...
94,21,Male,Good,Yes,Sometimes,Yes,Yes,6,4.0,Yes
95,21,Female,Good,Yes,Yes,No,Yes,6,6.0,Yes
96,25,Male,Good,Yes,Sometimes,No,Yes,4,9.0,No
97,21,Male,Good,Yes,No,Sometimes,No,10,23.0,Yes
98,22,Female,Average,Yes,No,No,Yes,7,3.0,Yes

CHECK FOR NULL VALUES

In [43]:
df.isnull()

,Age,Gender,AcademicPerformance,TakingNoteInClass,DepressionStatus,FaceChallangesToCompleteAcademicTask,LikePresentation,SleepPerDayHours,NumberOfFriend,LikeNewThings
0,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
94,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False
98,False,False,False,False,False,False,False,False,False,False

SHOW  NULL VALUES IN EACH ATTRIBUTE

In [44]:
df.isnull().sum()

Age                                     0
Gender                                  0
AcademicPerformance                     0
TakingNoteInClass                       0
DepressionStatus                        0
FaceChallangesToCompleteAcademicTask    0
LikePresentation                        0
SleepPerDayHours                        0
NumberOfFriend                          4
LikeNewThings                           0
dtype: int64

FOR FILLING THE NULL VALUES , FIND MEAN

In [45]:
nooffmean=df['NumberOfFriend'].mean()
nooffmean

16.189473684210526

FILL NULL VALUES WITH MEAN VALUE

In [46]:
df.fillna({'NumberOfFriend':nooffmean},inplace=True)

NOW CHECK FOR NULL VALUES

In [47]:
df.isnull().sum()

Age                                     0
Gender                                  0
AcademicPerformance                     0
TakingNoteInClass                       0
DepressionStatus                        0
FaceChallangesToCompleteAcademicTask    0
LikePresentation                        0
SleepPerDayHours                        0
NumberOfFriend                          0
LikeNewThings                           0
dtype: int64

EXPORT THE PROCESSED DATAFRAME TO OTHER FORMATS - CSV,JSON,EXCEL,HDF

In [48]:
df.to_csv('./ProcessedDataset/ExportCSV.csv',index=True)

In [49]:
df.to_json('./ProcessedDataset/ExportJSON.json')

In [50]:
df.to_excel('./ProcessedDataset/ExportXSL.xlsx')

In [51]:
df.to_hdf('./ProcessedDataset/ExportHDF.h5',key='df',mode='a')